{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        <img src="{% static 'img/dpb-logo.png' %}" alt="Логотип">

        <div class="top-links">
            {% if request.user.is_authenticated %}
                <a href="/article/new/">Написать статью</a>
                <a href="/logout/">Выйти ({{ request.user.username }})</a>
            {% else %}
                <a href="/login/">Войти</a>
            {% endif %}
        </div>
    </div>

    <div class="article-content">
        <h1>{{ post.title }}</h1>

        <div class="article-info">
            <p class="article-author">Автор: {{ post.author.username }}</p>
            <p class="article-created-date">Дата: {{ post.created_date }}</p>
        </div>

        <p class="article-text">{{ post.text }}</p>

        <p class="back-link"><a href="/">Все записи</a></p>
    </div>
</body>
</html>